*{
    margin: 0px;        
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding; 0;
    margin: 0;
}
/*font: 15px/1.5 Arial,  Helvetica, sans-serif;*/

.container {
    width: 100%;    
    margin:auto;
    overflow:hidden;
}

header ul{
    margin: 0;
    padding: 0; 
    

}

/*header*/
header{
    background: skyblue;
    padding-top: 30px;
    min-height: 70px;
}

header a{
    color:black;
    text-decoration: none;
    font-size: 16px;

}


header li{
    float: left;
    display: inline;    
    padding: 0 20px 0 20px;
    
}

header #branding{
    float: left;

}

header #branding h1{
    margin:0;
}

header nav{
    float: right;
}

/*Showcase*/
#showcase{
    min-height: 400px;
    text-align: center;

}

#showcase h1{
    margin-top: 100px;
    font-size: 30px;
    display: flex;
    width: 90%; 
    min-width: 80vh;

}


#showcase h2{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

/* Footer social */
footer {
    position: absolute;
    background: skyblue;
    left: 0;
    right: 0;
    height: auto;
    width: auto;

}

 .footer.content {
    display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     text-decoration: none;
     
 }

 .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 50px;
}
.socials a{
    text-decoration: none;
    color: gray;
}
.socials a i{
    font-size: 2.0rem;
    transition: color .4s;

}

 .footer-bottom{
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-decoration: none;
}


///contact form///

